tests/
*.lst
*.sym
*.obj
*.bin
*.hex
build/
.clang-format

# CLion
.idea/
cmake-build*

# Visual Studio/Windows
.vs/
*.vcxproj*
*.dir/
x64/
[Dd]ebug/
[Rr]elease/
*.exe
*.sln
*.psess
*.vsp
.vscode/

# CMake
CMakeFiles/
*/cmake_install*
cmake_install.cmake
CMakeCache.txt

